{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}

{% block body %}

<div style="background-color: rgba(0, 0, 0, 0.852);">
  <div style="display:flex; justify-content: space-between; padding-top:21vh; padding-bottom:21vh">
    <div class="container2" style="display:inline-block; margin-top:10vh;">
      <h1>Welcome To</h1>
      <h1>Discussion Desk</h1>
    </div>
    <div style="display:inline-block;">
      <img src="static/images/dis2.png" class="slide-in-bot" style="width:40vw; box-shadow: inset 2px 5px 30px rgb(0, 255, 234); border-radius: 35%;"> 
    <div>
      <img src="static/images/com.png" class="slide-in-bot2" style="width:40vw; position:absolute; top:60px" >
    </div>    
    </div>
      </div>
</div>

<!-- about -->
<div style="background-color:rgba(0, 0, 0, 0.852);">
<h1 style="margin-left: 10px; color: #ffffff; text-shadow: 5px 2px 8px #242425, 0px 0px 10px #132332, 0px 0px 10px #93c3ed,0px 0px 20px #93c3ed;"><b><u>How It Helps</u></b></h1><br>
<p  id="about" style="margin-left: 10px; font-size: larger; color:rgb(255, 255, 255); border: 1px solid aqua; border-radius:20px; padding: 2vw; backdrop-filter: blur(10px); background: rgba(255, 255, 255, 0.05); box-shadow: 0 15px 35px rgb(0 0 0 / 50%);"><b>Discussion Desk of IITM serves as a resource to help students of IITM on programming and help them prepare for coding interview. Students can ask anything related to programming. Experts at Coding Forum provide programming problems of different difficulty levels. Students can post their answers which are evaluated by experts. Students are encouraged to clear their doubts by participating in discussions. Also, students can read discussions on different programming languages such as C, C++, PHP, Python, JavaScript, and much more. </b></p>
<br></div>
{% endblock %}